.main-content .posts{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5rem 0 3rem 0;
}

.main-content .posts .content{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.main-content .posts .content .post{
    width: 49%;
    border: 1px solid lightgrey;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
}

.main-content .posts .content .post .post-header{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
}

.main-content .posts .content .post .post-header .post-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-content .posts .content .post .post-header .post-info img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.main-content .posts .content .post .post-header .post-info div h3{
    font-weight: 200;
}

.main-content .posts .content .post .post-header .post-info div p{
    font-weight: 300;
}

.main-content .posts .content .post .post-header .like-btn{
    border: none;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}

.main-content .posts .content .post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {

    .main-content .posts{
        margin: 4rem 0;
    }

  
    .main-content .posts{
        padding: 0;
        gap: 1px;
    }

    .main-content .posts .content{
        width: 100%;
    }

    .main-content .posts .content .post{
        width: 100%;
        height: 500px;
    }

    
}